AI Agent.json
{
  "name": "AI Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "73832a52-00c0-4002-ad6a-bfaef8d2150c",
      "name": "Schedule Trigger",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "={{$json.feed}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "3810acf7-6210-467f-8799-7e8ffa9c2ef6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "e67b43e6-1d01-404a-8091-dfde61ed23df",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "// Get date 7 days ago\nconst now = new Date();\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(now.getDate() - 7);\n\nconst results = [];\n\nfor (const item of items) {\n\n  const entries = item.json.feed?.entry || [];\n\n  for (const video of entries) {\n\n    // Title\n    const title = Array.isArray(video.title)\n      ? video.title.join('')\n      : video.title || 'Untitled Video';\n\n    // Published date\n    const publishedRaw = Array.isArray(video.published)\n      ? video.published[0]\n      : video.published;\n\n    const publishedDate = new Date(publishedRaw);\n\n    // Skip if older than 7 days\n    if (publishedDate < sevenDaysAgo) continue;\n\n    // Try getting link\n    let link = '';\n\n    if (video.link?.[0]?.$.href) {\n      link = video.link[0].$.href;\n    }\n\n    // Backup: build from videoId\n    if (!link && video['yt:videoId']?.[0]) {\n      link = `https://www.youtube.com/watch?v=${video['yt:videoId'][0]}`;\n    }\n\n    results.push({\n      json: {\n        title,\n        link,\n        published: publishedDate.toISOString()\n      }\n    });\n\n  }\n}\n\n// Return only last 7 days videos\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "d7fa1288-0862-42d1-9645-0adeb1fd3cbe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBwJ-9AIL5eGH8CCihmgWD_rS_ZcD52lyA"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={   \"contents\": [     {       \"parts\": [         {           \"text\": \"You are an AI analyst. Analyze the following report and generate insights.\\n\\n{{$json.combinedReport}}\\n\\nCreate:\\n1. Executive Summary\\n2. Trends\\n3. Key Insights\\n4. Recommendations\\n5. Notable Videos\"         }       ]     }   ] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        0
      ],
      "id": "7cbc27ea-ebfb-41e7-981f-379c7a885667",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "khilesh2507@gmail.com",
        "subject": "=Weekly AI Intelligence Report",
        "emailType": "text",
        "message": "=Hi,\n\nPlease find attached this week’s AI Intelligence Report.\n\nRegards,  \nKhilesh",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2240,
        0
      ],
      "id": "c67ae51d-67b3-4dd5-a997-156f215bc61a",
      "name": "Send a message",
      "webhookId": "976200a6-08c3-428c-9864-a26d326bb816",
      "credentials": {
        "gmailOAuth2": {
          "id": "VOi8HnGptYDBADBI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      name: \"Two Minute Papers\",\n      feed: \"https://www.youtube.com/feeds/videos.xml?channel_id=UCbfYPyITQ-7l4upoX8nvctg\"\n    }\n  },\n  {\n    json: {\n      name: \"Yannic Kilcher\",\n      feed: \"https://www.youtube.com/feeds/videos.xml?channel_id=UCZHmQk67mSJgfCCTn7xBfew\"\n    }\n  },\n  {\n    json: {\n      name: \"AI Explained\",\n      feed: \"https://www.youtube.com/feeds/videos.xml?channel_id=UCNJ1Ymd5yFuUPtn21xtRbbw\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "34111c8c-c6b2-4f29-b95e-235fbc59fab3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const report =\n  $json.candidates[0].content.parts[0].text || \"No report generated\";\n\nreturn [\n  {\n    json: {\n      finalReport: report,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ],
      "id": "1cc9f702-7772-41c1-8442-99891e7326ff",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// Merge all videos into one report\n\nlet report = `## Weekly AI YouTube Report\\n\\n`;\nreport += `Date: ${new Date().toISOString()}\\n\\n`;\n\nreport += `### Videos (Last 7 Days)\\n\\n`;\n\nfor (const item of items) {\n\n  const title = item.json.title || 'Untitled';\n  const link = item.json.link || 'No link';\n  const published = item.json.published || 'Unknown';\n\n  report += `------------------------------\\n`;\n  report += `Title: ${title}\\n`;\n  report += `Link: ${link}\\n`;\n  report += `Published: ${published}\\n\\n`;\n}\n\nreturn [\n  {\n    json: {\n      combinedReport: report\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "edcc5c71-59d0-4dad-811d-e2999937e6ef",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const report = $json.finalReport || 'No report';\n\nconst html = `\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      padding: 40px;\n      line-height: 1.6;\n    }\n    h1, h2 {\n      color: #222;\n    }\n    pre {\n      white-space: pre-wrap;\n    }\n  </style>\n</head>\n<body>\n\n<h1>Weekly AI Intelligence Report</h1>\n\n<pre>${report}</pre>\n\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      htmlContent: html\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "0511aeb5-48c5-44a6-aeff-1fc413bc72c9",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "sk_f4be3e050c32511d838041566caf932a26fe70b4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    source: $json.htmlContent,\n    landscape: false,\n    use_print: false\n  })\n}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        0
      ],
      "id": "7805c726-4356-44cf-88ff-366c8d7fc201",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-03T16:44:20.644+05:30",
          "Readable date": "February 3rd 2026, 4:44:20 pm",
          "Readable time": "4:44:20 pm",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "03",
          "Hour": "16",
          "Minute": "44",
          "Second": "20",
          "Timezone": "Asia/Calcutta (UTC+05:30)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f2d4e23f-cda3-4faa-bf53-ee37872949a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41c192c6071af254352049f31a2a4f9f260b441df3e403b1652776c3fdda4599"
  },
  "id": "UynGNlZVEZaMKYeP2CwRH",
  "tags": []
}